.container {
	background-color: #BBA284 ;
	width: fit-content;
}
body {
		background-color:#ae906b;
}

.col1 {
	background-color: #B68209;
}
.col2{
	background-color: #820901;
}
.col3{
		background-color: #B68209;
}

.page-header {
	background-color: ;
}

h1 {
	color: ;
	font-family: 'Tangerine', cursive;
	font-size: 70px;

}
