@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
	background-color: #BBA284 ;
	width: auto;
}
body {
		background-color:#ae906b;
}

.col1 {
	background-color: #B68209;
}
.col2{
	background-color: #820901;
}
.col3{
		background-color: #B68209;
}

.page-header {
	background-color: ;
}

h1 {
	color: ;
	font-family: 'Montserrat', calibri;
	font-size: 60px;

}
#soustitre{
		font-family: 'Montserrat', calibri;
	font-size: 16px;
}

#mycarousel{
	size:  auto;
}
