.container {
	background-color: #997F36 ;
}
.body {
		background-color: #997F36 ;

}

.col1 {
	background-color: green;
}
.col2{
	background-color: blue;
}
.col3{
		background-color: red;
}

.page-header {
	background-color: ;
}
